@font-face {
    font-family: 'DS Digit';
    src: url('../../../public/fonts/DsDigi.ttf') format('truetype');
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: 'Super Mario 256';
    src: url('../../../public/fonts/SuperMario256.ttf') format('truetype');
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../public/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal; 
}